<!DOCTYPE html>
<html>

<body>

  <link rel="stylesheet" type="text/css" href="/stylesheets/mdb.min.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css" rel="stylesheet" type="text/css">

<div class="jumbotron text-center Aligner">
  <div class="container">
    <h1>Url Shortener Service</h1>
    <p>
      Shorten a URL with /new/YOUR_URL_HERE.
      <br />
      Your link MUST contain the http:// or https:// component.
      <br />
      <br />
      A JSON object containing the original url and the shortened URL will be returned.
      <br />
      <br />
      Future optimizations: check db for existing entry.
    </p>
  </div>
</div>


</body>
</html>
